/*
картинки-заглушки
https://via.placeholder.com/150x100
*/

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page {
  min-height: 100%;
  user-select: none;
}

.page-body {
  min-height: 100%;
  font-size: 18px;
  font-family: Geometria, Arial, Helvetica, sans-serif;
  background-image: linear-gradient(120deg, black, gray);
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}



img {
  display: block;
  max-width: 100%;
  height: auto;
}

h2 {
  text-align: center;
}


/*безопасное скрытие элемента*/
.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.wrapper {
  position: relative;
  margin: 50px auto;
  min-width: 400px;
  width: 400px;
  min-height: 400px;
}

.form {
  padding: 10px;
  background-color: gray;
  border-radius: 5px;
}

.form__group {
  display: grid;
  max-width: 400px;
  grid-template-columns: 1fr;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.form__textarea {
  padding: 5px 10px;
  min-width: calc(400px - 20px);
  max-width: calc(400px - 20px);
  margin-bottom: 5px;
}


.form__btn {
  padding: 10px 5px;
  background-image: linear-gradient(darkgray, white);
  border: 2px solid grey;
  cursor: pointer;
}

.form__btn:active {
  border: 2px solid black;
}

.form__list {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5px 0;
}

.form__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background: darkgray;
}

.form__item-close {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: tomato;
  cursor: pointer;
  border-color: transparent;
  transition: 0.2s background-color;
}

.form__item-close:hover {
  background-color: tomato;
  color: black;
}

.form__btn-row {
  width: 100%;
}

